@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
            @*if (HttpContext.Session.GetString("Token") == null)
            {*@
<p>@TempData["message"]</p>  @*= "Usuario no valido";*@
                @*return Redirect("~/Home/Index");
            }*@